option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NEXT_PUBLIC_API_URL: http://taskmanagement-backend-prod.eba-bdtdzgpg.eu-north-1.elasticbeanstalk.com
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    HealthyThresholdCount: 2
    UnhealthyThresholdCount: 5
    MatcherHTTPCode: 200
  aws:elasticbeanstalk:command:
    Timeout: 600
